.onboarding {
  margin-top: 107px;
  &__images {
      width:282px;
      height:279px;
      margin:0 auto;
  }
  &__skip {
    --background:#FFF;
    --color:#151940;
    top:-30px;
    right:34px;
    font-size: 14px;
  }
  &__title {
    width:316px;
    font-weight:bold;
    text-align: center;
    margin:40px auto 0px;
  }
  &__description {
    margin: 38px auto 0px;
    font-size: 18px;
    text-align: center;
  }
  &__btn {
    height:auto;
    border-style:solid;
    width:auto;
    border-radius: 50%;
    width:95px;
    height:95px;
    font-size: 14px;
    color:#fff;
    background-color: #5771F9;
    border-style: none;
    box-shadow: 10px 20px 35px 10px rgba(49,75,206,0.3);
    margin-top:90px;
  }

  swiper-container {
    .swiper-pagination {
      text-align: left;
    }
    .swiper-pagination-fraction {
      text-align: left;
    }

  }
  .swiper-pagination {
    text-align: left;
  }

  .swiper-pagination-fraction {
    text-align: left;
  }

}
.swiper-pagination {
  text-align: left;
}


.custom-pagination {
  position: static;
}



