<ion-content [fullscreen]="true" color="royal-blue" class="poppins">
  <ion-grid class="h-100">
    <ion-row>
       <ion-col class="homecontent">
          <ion-thumbnail class="homecontent__images">
            <img src="../../assets/images/wallet-logo.png" alt="wallet-logo">
          </ion-thumbnail>
          <ion-row>
            <ion-col class="homecontent__desc">
              <h1 class="homecontent__title">{{title}}</h1>
              <p class="homecontent__description">{{decription}}</p>
            </ion-col>
          </ion-row>
          <ion-button class="homecontent__button" (click)="goToPage()" >Get Started Now</ion-button>
       </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
